<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Car</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!---this is our home section--->
    <div class="home_section">
        <div class="nav_content">
            <h1>mode car</h1>
            <div class="nav_url">
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">services</a>
                <a href="#">items</a>
            </div>
        </div>
        <div class="homepage_content">
           <div class="homep_items">
                <h1>mode car</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                <button class="home_btn">read more</button>
           </div>
        </div>
    </div>
    <!---this is our favorite car section--->
    <section class="fav_car_section">
        <div class="fav_heading">
            <h1>our popular car</h1>
        </div>
        <div class="fav_car_items">
            <div class="ind_cars_items">
                <img src="/static/download (1).jpg" alt="no images">
                <h1>BMW latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>


            <div class="ind_cars_items">
                <img src="/static/download.jpg" alt="no images">
                <h1>BMW latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>

            <div class="ind_cars_items">
                <img src="/static/images.jpg" alt="no images">
                <h1>BMW latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_cars_items">
                <img src="/static/images (1).jpg" alt="no images">
                <h1>BMW latest</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>

        </div>
    </section>

    <!---this is our about section--->
    <div class="items_cars">
        <div class="items_heading">
            <h1>Variables cars</h1>
        </div>
        <div class="cars_carts">
            <div class="ind_carts_cars">
                <img src="/static/images2.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/images3.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/images4.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/images5.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/images6.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/images7.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/images8.jpg" alt="no images">
                <h1>Maruti Suzuki</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </div>
        </div>
    </div>

    <!---this is our contribution section--->
    <div class="cont">
        <div class="cont_heading">
            <h1>our contribution</h1>
        </div>
    </div>
        
</body>
</html>